# 5. Iteration

In this exercise you will create a program that computes the average of a collection of values entered by the user. The user will enter 0 as a sentinel value to indicate that no further values will be provided. Your program should display an appropriate error message if the first value entered by the user is 0

In [10]:
# initialize count, total, and average
count = 0
total = 0
average = 0

# get the numbers from the user
while True:
    number = float(input("Enter a number: "))

    # Check if the first number entered is 0
    if count == 0 and number == 0:
        print("Error(NOTE:The first number cannot be 0)")
        continue

    # Exit the loop if the user enters 0
    if number == 0:
        break

    # increment both count and total
    count += 1
    total += number

# calculating average if count is greater than 0
if count > 0:
    average = total / count

# display  total, and average

print(f"Total of the numbers entered: {total}")
print(f"Average of the numbers entered: {average}")

Enter a number: 0
Error(NOTE:The first number cannot be 0)
Enter a number: 9
Enter a number: 10
Enter a number: 789
Enter a number: 0
Total of the numbers entered: 808.0
Average of the numbers entered: 269.3333333333333

Write a program that displays a temperature conversion table for degrees Celsius and
degrees Fahrenheit. The table should include rows for all temperatures between 0
and 100 degrees Celsius that are multiples of 10 degrees Celsius. Include appropriate
headings on your columns. The formula for converting between degrees Celsius and
degrees Fahrenheit can be found on the internet.

In [30]:
import pandas as pd

# Create degrees 
degrees = list(range(0, 101, 10))
# calculate Fahrenheit from degrees 
Fahrenheit = [(x * 9/5) + 32 for x in degrees]

# create a pandas table with the two lists 
table = pd.DataFrame({'Degrees': degrees, 'Fahrenheit': Fahrenheit})
table

    Degrees  Fahrenheit
0         0        32.0
1        10        50.0
2        20        68.0
3        30        86.0
4        40       104.0
5        50       122.0
6        60       140.0
7        70       158.0
8        80       176.0
9        90       194.0
10      100       212.0

Write a program that converts a binary (base 2) number to decimal (base 10). Your
program should begin by reading the binary number from the user as a string. Then
it should compute the equivalent decimal number by processing each digit in the
binary number. Finally, your program should display the equivalent decimal number
with an appropriate message.

In [35]:
# get input from the user
binary = input("Enter the binary number: ")

# initialize count and total
count = 0
total = 0

# reverse the binary string so as  to iterate through the binary values correctly.
binary = binary[::-1] 

# iterate through the binary digits
for x in binary:
    number = int(x) * (2 ** count)
    count += 1
    total += number

# display decimal (base 10) number
print(f"The binary (base 2) number  to decimal (base 10) is: {total}")

Enter the binary number: 1010
The binary (base 2) number  to decimal (base 10) is: 10

In this exercise you will create a program that displays a multiplication table that
shows the products of all combinations of integers from 1 times 1 up to and including
10 times 10. Your multiplication table should include a row of labels across the top
of it containing the numbers 1 through 10. It should also include labels down the left
side consisting of the numbers 1 through 10.

In [38]:
import pandas as pd

# Create an empty DataFrame with row and column labels
table = pd.DataFrame(index=range(1, 11), columns=range(1, 11))

# Fill the DataFrame with multiplication values
# nested loops
for x in range(1, 11):
    for y in range(1, 11):
        table.at[x, y] = x * y #In each cell calculate the product of the corresponding row(x) and column(y) labels

# Display the multiplication table
table

    1   2   3   4   5   6   7   8   9    10
1    1   2   3   4   5   6   7   8   9   10
2    2   4   6   8  10  12  14  16  18   20
3    3   6   9  12  15  18  21  24  27   30
4    4   8  12  16  20  24  28  32  36   40
5    5  10  15  20  25  30  35  40  45   50
6    6  12  18  24  30  36  42  48  54   60
7    7  14  21  28  35  42  49  56  63   70
8    8  16  24  32  40  48  56  64  72   80
9    9  18  27  36  45  54  63  72  81   90
10  10  20  30  40  50  60  70  80  90  100

# 6. Strings

## case 1

In [40]:
sentense_1 = ('In deep learning, these layered representations are (almost always) learned via models called neural networks , structured in literal layers stacked one after the other.')
sentense_1

'In deep learning, these layered representations are (almost always) learned via models called neural networks , structured in literal layers stacked one after the other.'

In [41]:
# number of characters
len(sentense_1)

169

In [42]:
# First character
sentense_1[0]

'I'

In [45]:
# last character
x = len(sentense_1)-1
sentense_1[x]

'.'

In [47]:
# Traversal through the string 
index = 0
while index < len(sentense_1):
        character = sentense_1[index]
        print(character)
        index = index + 1

I
n

d
e
e
p

l
e
a
r
n
i
n
g
,

t
h
e
s
e

l
a
y
e
r
e
d

r
e
p
r
e
s
e
n
t
a
t
i
o
n
s

a
r
e

(
a
l
m
o
s
t

a
l
w
a
y
s
)

l
e
a
r
n
e
d

v
i
a

m
o
d
e
l
s

c
a
l
l
e
d

n
e
u
r
a
l

n
e
t
w
o
r
k
s

,

s
t
r
u
c
t
u
r
e
d

i
n

l
i
t
e
r
a
l

l
a
y
e
r
s

s
t
a
c
k
e
d

o
n
e

a
f
t
e
r

t
h
e

o
t
h
e
r
.

In [48]:
# inverve of the Traversal through the string 
index = len(sentense_1) -1
while index >= 0:
        character = sentense_1[index]
        print(character)
        index = index - 1

.
r
e
h
t
o

e
h
t

r
e
t
f
a

e
n
o

d
e
k
c
a
t
s

s
r
e
y
a
l

l
a
r
e
t
i
l

n
i

d
e
r
u
t
c
u
r
t
s

,

s
k
r
o
w
t
e
n

l
a
r
u
e
n

d
e
l
l
a
c

s
l
e
d
o
m

a
i
v

d
e
n
r
a
e
l

)
s
y
a
w
l
a

t
s
o
m
l
a
(

e
r
a

s
n
o
i
t
a
t
n
e
s
e
r
p
e
r

d
e
r
e
y
a
l

e
s
e
h
t

,
g
n
i
n
r
a
e
l

p
e
e
d

n
I

## case 2

In [49]:
sentence_2 ="Deep learning is a specific subfield of machine learning: a new take on learning representations from data that puts an emphasis on learning successive oflayersincreasingly meaningful representations."
sentence_2

'Deep learning is a specific subfield of machine learning: a new take on learning representations from data that puts an emphasis on learning successive oflayersincreasingly meaningful representations.'

In [50]:
# slice the first 10 letters
sentence_2[:10]

'Deep learn'

In [53]:
# slice the last 10 letters
sentence_2[-10:]

'entations.'

In [54]:
# # slice the whole sentence
sentence_2[:]

'Deep learning is a specific subfield of machine learning: a new take on learning representations from data that puts an emphasis on learning successive oflayersincreasingly meaningful representations.'

## case 3

In [56]:
# replace the first digit with "j"
new_sentence_2 = 'J' + sentence_2[1:]
new_sentence_2

'Jeep learning is a specific subfield of machine learning: a new take on learning representations from data that puts an emphasis on learning successive oflayersincreasingly meaningful representations.'

In [57]:
# Replace all vowels with 'm'
new2_sentence_2 = sentence_2.replace('a', 'm').replace('e', 'm').replace('i', 'm').replace('o', 'm').replace('u', 'm')

print(new2_sentence_2)

Dmmp lmmrnmng ms m spmcmfmc smbfmmld mf mmchmnm lmmrnmng: m nmw tmkm mn lmmrnmng rmprmsmntmtmmns frmm dmtm thmt pmts mn mmphmsms mn lmmrnmng smccmssmvm mflmymrsmncrmmsmngly mmmnmngfml rmprmsmntmtmmns.

In [58]:
# Replace a with 'e'
new3_sentence_2 = sentence_2.replace('a', 'e')

print(new3_sentence_2)

Deep leerning is e specific subfield of mechine leerning: e new teke on leerning representetions from dete thet puts en emphesis on leerning successive ofleyersincreesingly meeningful representetions.

In [59]:
# Count the number of vowels
# define the vowel characters
vowels = 'aeiouAEIOU'
vowel_count = 0

for char in sentence_2:
    if char in vowels:
        vowel_count += 1

print(f"Number of vowels in sentence_2: {vowel_count}")

Number of vowels in sentence_2: 68

## case 4

In [61]:
# Capitalize every letter
sentence_2.upper()

'DEEP LEARNING IS A SPECIFIC SUBFIELD OF MACHINE LEARNING: A NEW TAKE ON LEARNING REPRESENTATIONS FROM DATA THAT PUTS AN EMPHASIS ON LEARNING SUCCESSIVE OFLAYERSINCREASINGLY MEANINGFUL REPRESENTATIONS.'

In [62]:
# lowercase all letters
sentence_2.lower()

'deep learning is a specific subfield of machine learning: a new take on learning representations from data that puts an emphasis on learning successive oflayersincreasingly meaningful representations.'

In [63]:
# capitalize each letter in a word
sentence_2.title()

'Deep Learning Is A Specific Subfield Of Machine Learning: A New Take On Learning Representations From Data That Puts An Emphasis On Learning Successive Oflayersincreasingly Meaningful Representations.'

In [69]:
# Using str.center(width[, fillchar])
centered = sentence_2.center(100, "*")
print(centered)

Deep learning is a specific subfield of machine learning: a new take on learning representations from data that puts an emphasis on learning successive oflayersincreasingly meaningful representations.

In [70]:
# Using str.count(sub[, start[, end]])
count_m= sentence_2.count("m")
print(count_m)

4